<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="repeat">
    <%= f.fields_for :occurences do |occ| %>
      <div class="field">
        <%= occ.label :starts %><br />
        <%= occ.datetime_select :starts %>
      </div>
      <div class="field">
        <%= occ.label :interval, "Repeat?" %>
        <%= occ.select(:interval, options_for_select([['None', ''], ['Daily', '1'], ['Weekly', '7']]))%>
      </div>
      <div class="field end_time">
        <%= occ.label :ends %><br />
        <%= occ.datetime_select :ends %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
