<h1>Listing events</h1>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%m-%Y") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%m-%Y") %>
  </h2>
  <%= calendar_for @occurences, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
    <% calendar.day(:day_method => :date) do |date, occurences| %>
      <%= date.day %><br />
      <% if occurences.length > 0%>
      <%= link_to "#{pluralize(occurences.length, "event")} scheduled", "#" %>
      <% end %>
      <ul style="display: none">
        <% occurences.each do |occurence| %>
        <li><%= link_to occurence.event.name, occurence.event %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Event', new_event_path %>
