<p id="notice"><%= notice %></p>

<div>
  <b>Name:</b>
  <%= @event.name %>
</div>

<div>
  <b>Date:</b>
  <%= @event.description %>
</div>

<div class="classes">
  <% @occurences.each do |occ| %>
  <div>
    <%= occ.starts %> | <%= button_to "Cancel Class", 
                            :controller => "cancellations", 
                            :action => "create", 
                            :remote => true, 
                            :date => occ.starts.to_date,
                            :event_id => occ.event.id,
                            :confirm => "Are you sure?"
                            %>
  </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> | 
<%= link_to 'Delete', @event, :confirm => "Are you sure?", method: :delete %>
